
<div class="row">
    <div class="col-lg-2">
        <div class="card bg-success-subtle mx-5" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">US</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">1234567890</h6>
        <h1>$1200</h1>
    </div>
    </div>
    <div class="col-lg-2">
        <div class="card bg-danger-subtle mx-5" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">IND</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">1234567890</h6>
        <h1>Rupees 1200</h1>
        </div>
</div>
</div>
</div>
</div>

